{% extends "../../main.html" %}

{% block title %}   
    Change Password
{% endblock title %}

{% block content %}
    <a href="{% url 'DA' %}" class="btn btn-outline-warning p-2 m-2">Ortga qaytish</a>
    <div class="row mt-5">
        <div class="col-4 m-auto">
            <form action="" class="border p-3 mt-5">
                <small>USER: {{ user.username }}</small>
                <h1 class="my-3">Parolni almashtirish</h1>
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputPassword1">Confirim Password</label>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Confirim Password">
                </div>
                <span id="error"></span>
                <input type="submit" class="btn btn-warning mt-3" value="Change Password">
            </form>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script>
        $(document).ready(function(){
            let password = $('password').val()
            let password1 = $('password1').val()
            if (password === password1) {
                console.log('log')
            } else {
                $('error').html('parollar bir xil emas!')
            }
        })
   </script>
{% endblock content %}