{% extends 'main.html' %}
{% load static %}

{% block title %}
    Maktab
{% endblock %}

{% block content %}
    <div class="background-table" >
            <div class="row">
            <div class="col-10 m-auto">
                <h1 class="text-center my-1">Bitiruvchilar haqida malumotlar</h1>
                <nav class="navbar navbar-expand-lg my-4 bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 justify-content-center top-nav">
                        <li class="nav-item ">
                            <a href="{% url 'T' %}" class="nav-link ">Hammasi</a>
                        </li>
                        <li class="nav-item active-li">
                            <a class="nav-link active" href="{% url 'M' %}">Maktab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'F' %}">OTM Bitiruvchilari</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'E' %}" class="nav-link">OTMga topshirganlar</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'H' %}" class="btn btn-outline-success">Diagrammada ko'rish</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success" id="MaktabExport" type="button" href="">Jadvalni yuklab olish</a>
                        </li>
                    </ul>
                    </div>
                </nav>

                {% include "../widgets/filters.html" %}
                <div class="table-box">
                    <table class="table">
                            <thead class="border-info">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">F.I.SH</th>
                                    <th scope="col">
                                        Yashash manzili
                                    </th>
                                    <th class="hidden2" scope="col">Uy</th>
                                    <th class="hidden2" scope="col">Telefon raqam</th>
                                    <th class="hidden2" scope="col">E-Pochta</th>
                                    <th class="hidden2" scope="col">Kompyuter bilimlari</th>
                                    <th class="hidden2" scope="col">Qiziqishlari</th>
                                    <th class="hidden2" scope="col">Yoqtirgan sport turi</th>
                                    <th class="hidden2" scope="col">Chet tili</th>
                                    <th class="hidden2" scope="col">Bizsess g'oya</th>
                                    <th class="hidden2" scope="col">Bizsess g'oya xaqida</th>
                                    <th class="hidden2" scope="col">Maktab manzili</th>
                                    <th scope="col">
                                        Maktab №
                                    </th>
                                    <th scope="col">Sinf №</th>
                                    <th class="noExl">Taxrirlash</th>
                                    <th class="hidden2" scope="col">Topshirgan OTM manzili</th>
                                    <th class="hidden2" scope="col">Topshirgan OTM nomi</th>
                                    <th class="hidden2" scope="col">Topshirgan OTM yonalishi</th>
                                    <th class="hidden2" scope="col">ChetEl OTM nomi</th>
                                    <th class="hidden2" scope="col">Yonalishi</th>
                                </tr>
                            </thead>
                        </form>
                        <tbody>
                            {% for i in object_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'RE' pk=i.pk %}">{{ i.f_name }}</a></td>
                                    <td>{{ i.tuman }} {{ i.mahalla }}</td>
                                    <td class="hidden2">{{ i.uy }}</td>
                                    <td class="hidden2">{{ i.phone }}</td>
                                    <td class="hidden2">{{ i.email }}</td>
                                    <td class="hidden2">
                                        {% for k in i.imkonyat.all %}
                                            {{ k.name }} |   
                                        {% empty %}
                                            malumotlar kiritilmagan
                                        {% endfor %}
                                    </td>
                                    <td class="hidden2">{{ i.qiziqish }}</td>
                                    <td class="hidden2">
                                        {% for s in i.sport.all %}
                                            {{ s.name }} |   
                                        {% empty %}
                                            malumotlar mavjudemas
                                        {% endfor %}
                                    </td>
                                    <td class="hidden2">
                                        {% for ch in i.chettili.all %}
                                            {{ ch.name }} |   
                                        {% empty %}
                                            malumotlar mavjudemas
                                        {% endfor %}
                                    </td>
                                    <td class="hidden2">{{ i.idea }}</td>
                                    <td class="hidden2">{{ i.short_f }}</td>
                                    <td class="hidden2">{{ i.tuman_mk }}</td>
                                    <td>{{ i.maktab }}</td>
                                    <td>{{ i.sinf }}</td>
                                    <td class="hidden2">{{ i.vil }}</td>
                                    <td class="hidden2">{{ i.otm_name }}</td>
                                    <td class="hidden2">{{ i.stu_way_un }}</td>
                                    <td class="hidden2">{{ i.other_un }}</td>
                                    <td class="hidden2">{{ i.stu_way_ch }}</td>
                                    <td class="noExl">
                                        <a href="{% url 'EMB' pk=i.pk %}" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                        <a href="" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{forloop.counter}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>

                            <!-- START MODEL -->  
                                <div class="modal fade" id="staticBackdrop{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">"{{ i }}"</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Shu obeyktni rostan ham o'chirishni xoxlaysizmi ?
                                            <br>
                                            <small class="text-danger">Bu obeyktni o'chirgandan so'ng qayta tiklash imkoni yoq!</small>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'DB' pk=i.pk %}" method="post">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                                                <button type="submit" class="btn btn-danger">O'chirib yuborish</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <!-- END MODEL -->
                            {% empty %}
                                <tr class="text-center">
                                    <td colspan="6">Afsuski siz qidirgan malumotlar topilmadi</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        {% if object_list.has_other_pages %}
        <nav class="notShadow py-4 my-3">
            <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}                      
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.previous_page_number }}">Ortga</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Ortga</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">Birinchi sahifa</a>
                </li>
        
                {% if object_list.number|add:'-1' > 1 %}
                    <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                {% endif %}
        
                {% for i in object_list.paginator.page_range %}
                    {% if object_list.number == i %}
                        <li class="active page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                    {% elif i > object_list.number|add:'-2' and i < object_list.number|add:'2' %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if object_list.paginator.num_pages > object_list.number|add:'1' %}
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                {% endif %}
        
                <li class="page-item {% if not object_list.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ object_list.next_page_number }}">Keyingi</a>
                </li>
            </ul>
        </nav>
    {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/table2excel.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#MaktabExport").click(function(){
                $(".table").table2excel({
                    exclude: ".noExl",
                    name: "filterlangan barcha talabalar",
                    filename: `Maktab__bitiruvchilari__ro'yhati__${new Date()}`,
                    fileext: ".xlsx",
                    exclude_links: true,
                    sheetName: "Open Data"
                });
            });
        });
        $("#id_tuman").change(function(){
            $("#id_maktab").attr("maktab-queries-url", "{% url 'ALMa' %}")
            $("#id_mahalla").attr("mahalla-queries-url", "{% url 'ALM' %}")
            const url1 = $("#id_mahalla").attr("mahalla-queries-url");
            const url2 = $("#id_maktab").attr("maktab-queries-url");
            const tumanId = $(this).val();

            $.ajax({
                url : url1,
                data:{
                    'tuman_id':tumanId,
                },
                success: function(data){
                    $("#id_mahalla").html(data);
                    console.log(data)
                },
            });
            $.ajax({
                url : url2,
                data:{
                    'tuman_id':tumanId,
                },
                success: function(data){
                    $("#id_maktab").html(data);
                    console.log(data)
                },
            });
        });
    </script>

{% endblock %}

