{% extends 'main.html' %}
{% load static %}
{% block title %}
    Barcha Tumanlar
{% endblock %}
{% block content %}
{% include "widgets/alert_all_pages.html" %}

    <div class="background data-bg">
        {% include "../widgets/sidebar.html" %}
        <div class="main">
            <div class="tumanlar">
                <h1>Toshkent viloyatidagi barcha tumanlar</h1>
                <ul id="tuman" data-js-vars="{{ all_d }}">
                    {% for i in all_d %}
                        <li><a href="{% url 'D' pk=i.pk %}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
