<h1 class="text-center my-3">Bitiruvchilar haqida malumotlar</h1>
<nav class="navbar navbar-expand-lg my-5 bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-center top-nav">
        <li class="nav-item">
            <a href="{% url 'H' %}" class="btn btn-outline-primary">Diagrammada ko'rish</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'T' %}" class="nav-link active">Hammasi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'M' %}">Maktab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'K' %}">Professional ta'lim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'F' %}">OTM Bitiruvchilari</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'E' %}" class="nav-link">OTMga topshirganlar</a>
        </li>
        <!-- <li class="nav-item">
            <a href="{% url 'I' %}" class="nav-link">Ish bilan taminlanganlar</a>
        </li> -->
        <!-- <li class="nav-item">
            <a href="{% url 'O' %}" class="nav-link">
                Boshqalar
            </a>
        </li> -->
      </ul>
    </div>
</nav>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(function(){
        $("li").click(function(){
            $(this).addClass('active-li').siblings().removeClass('active-li')
        });
    })
</script> -->