{% extends "../../main.html" %}

{% block title %}
    Yangi Foydalanuvchi
{% endblock title %}

{% block content %}
    {% include "../../widgets/form.html" %} 
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 m-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">F.I.SH</th>
                            <th scope="col">Username</th>
                            <th scope="col">Telefon raqam</th>
                            <th scope="col">Qo'shilgan vaqti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ m.full_name }}</td>
                                <td>{{ m.username }}</td>
                                <td>{{ m.phone_number }}</td>
                                <td>{{ m.joined_date }}</td>
                                {% if user.superuser %}                                  
                                    <th>
                                        <a href="{% url 'users:EUF' pk=m.pk %}" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>    
                                        </a>
                                        <a href="{% url 'users:change_password' pk=m.pk %}" class="ps-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                            </svg>
                                        </a>
                                    </th>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">Afsuski hozircha malumotlar mavjud emas</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
